*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: $color-bg-primary;
}

.dark-mode {
  background-color: #0e0f2b;
  color: $color-text-primary;
}
