.btn {
  &:link,
  &:active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 1.2rem;
    background-color: $color-primary-2;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: 0.36px;
    text-decoration: none;
  }
}