.header {

  & nav {

    & ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0 3%;
      align-items: center;
      color: $color-white;
    }
  }
}