.header {
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 2.5rem 10%;
      align-items: center;
      color: $color-primary-4;
      box-shadow: 0 2px 4px rgba($color-primary-2, 0.2);
    }
  }

  &-desktop {
    display: none;
  }
}

@media screen and (min-width: 48em) {
  .header {
    nav {
      ul {
        box-shadow: none;
        padding: 1.6rem 10%;
      

        div {
          display: inline-flex;
          align-items: center;
          gap: 0.8rem;
          justify-content: center;

          li {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2rem;
            
            a {
              padding: 1rem 1.2rem;
              text-decoration: none;
              color: $color-white;
              display: flex;
            }
          }
        }
      }
    }

    &-mobile {
      display: none;
    }

    &-desktop {
      display: block;
    }
  }
}
