.headline {
  padding: 0 2.4rem;
  padding-top: 4.7rem;
  background-image: url('../../../assets/images/top_circles.svg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;

  &-tech-stack {
    &-first {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &-supporting-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    margin-top: 4rem;

    &-text {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      p {
        font-size: 2rem;
        font-weight: 500;
        color: $color-primary-3;
      }
    }
  }
}
