.headline {
  padding: 0 2.4rem;
  padding-top: 4.7rem;
  background-image: url('../../../assets/images/top_circles.svg');
  background-size: contain;
  background-position: top;

  &-tech-stack {
    &-first {
      display: flex;
      align-items: flex-start;
      gap: 25%;
    }
  }
}

