*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #151859; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.logo {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0.6px; }

.headline-header {
  text-align: center; }
  .headline-header h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #7d73fc;
    letter-spacing: 0.37px; }
  .headline-header h2 {
    font-size: 3.2rem;
    font-weight: 500;
    color: #edecff; }

.header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 2.5rem 10%;
  align-items: center;
  color: #edecff;
  box-shadow: 0 2px 4px rgba(125, 115, 252, 0.2); }

.headline {
  padding: 0 2.4rem;
  padding-top: 4.7rem;
  background-image: url("../../../assets/images/top_circles.svg");
  background-size: cover;
  background-position: center top; }
